<%-- 
Name: Node.js Controller for API
Author: Luis Danilo Ruiz Tórrez
Description: Agregar las rutas parciales para un controlador y su modelo
--%>
<%@ Template Language="CS" TargetLanguage="JavaScript" Description="Genera las rutas para el controlador anterior"%>
<%@ Property Name="UseAuthMiddleware" Type="System.Boolean" Default="true" Category="1. General Options" Description="Usar middleware de autenticación en el controlador y rutas?" %>
<%@ Property Name="ModelName" Type="System.String" Category="Options" Description="Nombre del modelo. En plural siempre, PascalCase" %>
<%@ Property Name="ModelDescription" Type="System.String"  Category="Options" Description="Descripción del modelo" %>
<%@ Property Name="IncludePictureSetterGetter" Type="System.Boolean"  Category="Images" Description="Incluir los métodos set y get para imágenes??" %>
<%@ Property Name="PictureFieldName" Type="System.String" Default="picture" Category="Images" Description="Nombre del campo imagen" %>
<%@ Property Name="UploadPath" Type="System.String" Default="./uploads/pictures/" Category="Images" Description="Ruta de carga de la imagen" %>
<%@ Import Namespace="System"%>
<%    string modelName = ModelName.ToLower(); %>
<script runat="template">
// My methods here.


public string AuthOpenApi()
{
   if(this.UseAuthMiddleware)
       return " verify(),";
   return "";
}
</script>
<% DateTime startTime = DateTime.Now;%>
// Last Updated: <%= startTime %>
// Updated By  : @YourName
'use strict'

var express = require('express');
<% if(this.UseAuthMiddleware){ %>
const { verify } = require('../middelware/access.middleware');
<% } %>

var <%= modelName %>Controller = require('../controllers/<%= modelName %>.controller');

var router = express.Router();

var multipart = require('connect-multiparty');
var md_uploadpictures = multipart({uploadDir: '<%= UploadPath %>'});

/* 
C for Create: HTTP POST
R for Read: HTTP GET
U for Update: HTTP PUT
D for Delete: HTTP DELETE 
*/



// <%= ModelName.ToUpper()  %>
router.post('/<%= modelName %>', <%=AuthOpenApi()%> <%= modelName %>Controller.add<%= ModelName %>); //CREATE

<%if(IncludePictureSetterGetter){ %>router.put('/<%= modelName %>/:field/:id', [<%=AuthOpenApi()%> md_uploadpictures], <%= modelName %>Controller.setPicture); //UPDATE IMAGE <%} %>
router.put('/<%= modelName %>/:id', <%=AuthOpenApi()%> <%= modelName %>Controller.edit<%= ModelName %>); //UPDATE

router.get('/<%= modelName %>/:id?', <%=AuthOpenApi()%><%= modelName %>Controller.get<%= ModelName %>); //RETRIEVE
router.get('/<%= modelName %>', <%=AuthOpenApi()%> <%= modelName %>Controller.get<%= ModelName %>); //RETRIEVE
<%if(IncludePictureSetterGetter){ %>router.get('/<%= modelName %>/picture/:filename', <%= modelName %>Controller.getPicture); //RETRIEVE IMAGE <%} %>

router.delete('/<%= modelName %>/:id', <%=AuthOpenApi()%> <%= modelName %>Controller.delete<%= ModelName %>); //DELETE


module.exports = router;