<%-- 
Name: Node.js Controller for API
Author: Luis Danilo Ruiz Tórrez
Description: Agregar los métodos CRUD para un controlador de API basado en Node.js
--%>
<%@ Template Language="CS" TargetLanguage="JavaScript" Description="Genera un controlador api para un modelo de datos"%>
<%@ Property Name="UseAuthMiddleware" Type="System.Boolean" Default="true" Category="1. General Options" Description="Usar middleware de autenticación en el controlador y rutas?" %>
<%@ Property Name="ModelName" Type="System.String" Category="Options" Description="Nombre del modelo. En plural siempre, PascalCase" %>
<%@ Property Name="ModelDescription" Type="System.String"  Category="Options" Description="Descripción del modelo" %>
<%@ Property Name="IncludePictureSetterGetter" Type="System.Boolean"  Category="Images" Description="Incluir los métodos set y get para imágenes??" %>
<%@ Property Name="PictureFieldName" Type="System.String" Default="picture" Category="Images" Description="Nombre del campo imagen" %>
<%@ Property Name="UploadPath" Type="System.String" Default="./uploads/pictures/" Category="Images" Description="Ruta de carga de la imagen" %>
<%@ Import Namespace="System"%>
<%    string modelName = ModelName.ToLower(); %>

<script runat="template">
// My methods here.


public string AuthOpenApi()
{
   if(this.UseAuthMiddleware)
       return "\n     *     security:\n     *       - ApiKeyAuth: []";
   return "";
}
</script>

<%-- INICIA EL CONTROLADOR --%>
'use strict'

const os = require('os');
const <%= modelName %>Model = require('../models/<%= modelName %>.model');
const validator = require('validator');
const fs = require('fs');
const path = require('path');
const { ObjectId } = require('mongodb');
const { findOneAndDelete } = require('../models/<%= modelName %>.model');


/**
 * @swagger
 * tags:
 *   name: <%= ModelName %>
 *   description: <%= ModelDescription %>
 */

var <%= modelName %>Controller = {

    /**
     * @openapi
     * /api/<%= modelName %>/{id}:
     *   get:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Get <%= ModelDescription %> by Id <%=AuthOpenApi()%>
     *     parameters:
     *       - in: path
     *         name: id
     *         description: Object Id
     *         required: false
     *         schema:
     *           type: string
     *     responses:
     *       200:
     *         description: OK
     *         content:
     *           application/json:
     *             schema:
     *               $ref: "#/components/schemas/<%= ModelName %>"
     *       404:
     *         description: Not Found
     *       500:
     *         description: Internal Server Error
     */

    /**
     * @openapi
     * /api/<%= modelName %>:
     *   get:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Get list of <%= ModelDescription %><%=AuthOpenApi()%>
     *     responses:
     *       200:
     *         description: OK
     *         content:
     *           application/json:
     *             schema:
     *               type: array
     *               items:
     *                 $ref: "#/components/schemas/<%= ModelName %>"
     *       404:
     *         description: Not Found
     *       500:
     *         description: Internal Server Error
     */

    get<%= ModelName %>: (req, res) => {

        var id = req.params.id;

        var query = { '_id': { $eq: id } };

        if (!id || id === undefined) query = {};
        else query = { '_id': { $eq: id } };

        console.log(query);

        <%= modelName %>Model.find(query, (err, objects) => {


            if (err) {
                return (res.status(500).send({
                    status: "error",
                    error: err.message
                })
                );
            }

            if (!objects || objects.length == 0) {
 
                return (res.status(404).send({
                    status: "error",
                    message: "Registro(s) no encontrado(s)",
                    links: [{ "Agregar registro => curl -X POST ": global.baseURL + "/api/<%= modelName %>" }]
                }

                ));
            } else {

                return (res.status(200).send({
                    status: "ok",
                    objects: objects
                }));
            }
        });
    },


    /**
     * @openapi
     * /api/<%= modelName %>:
     *   post:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Create <%= ModelDescription %><%=AuthOpenApi()%>
     *     parameters:
     *       - in: body
     *         name: body
     *         required: true
     *         schema:
     *           $ref: "#/components/schemas/<%= ModelName %>"
     *     responses:
     *       201:
     *         description: Created
     *         content:
     *           application/json:
     *             schema:
     *               $ref: "#/components/schemas/<%= ModelName %>"
     *       400:
     *         description: Bad Request
     *       500:
     *         description: Internal Server Error
     */
    add<%= ModelName %>: (req, res) => {


        var data = req.body;


        //SIN PARAMETROS
        if (!data) {

            return (res.status(400).send({
                status: "error",
                messager: "Faltan parámetros de request en formato JSON"
            })
            );
        }


        var new<%= ModelName %> = new <%= modelName %>Model(data);



        //INTENTAR GUARDAR EL NUEVO OBJETO
        new<%= ModelName %>.save((err, storedObject) => {
            if (err) {
                return (res.status(500).send({
                    status: "error",
                    error: err.message
                }));

            } else {
                if (!storedObject) {
                    return (res.status(500).send({
                        status: "error",
                        message: "Error al intentar guardar un nuevo registro"
                    }));
                }

                return (res.status(201).send({
                    status: "ok",
                    created: storedObject
                }));
            }

        });
    },


    /**
     * @openapi
     * /api/<%= modelName %>/{id}:
     *   put:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Update <%= ModelDescription %><%=AuthOpenApi()%>
     *     parameters:
     *       - in: path
     *         name: id
     *         description: "Object Id"
     *         type: string
     *         required: true
     *       - in: body
     *         name: body
     *         required: true
     *         schema:
     *           $ref: "#/components/schemas/<%= ModelName %>"
     *     responses:
     *       200:
     *         description: Ok
     *         content:
     *           application/json:
     *             schema:
     *               $ref: "#/components/schemas/<%= ModelName %>"
     *       400:
     *         description: Bad Request
     *       404:
     *         description: Not Found
     *       500:
     *         description: Internal Server Error
     */
    edit<%= ModelName %>: (req, res) => {

        var id = req.params.id;
        var data = req.body;

        if (!id || id == undefined) {
            return (res.status(400).send({
                status: "error",
                message: "falta parámetro requerido ID"
            }));
        }
        if (!data || data == undefined) {
            return (res.status(400).send({
                status: "error",
                message: "falta parámetro requerido data JSON"
            }));
        }

        var query = { '_id': { $eq: id } };
        var command = { $set: data };

        <%= modelName %>Model.findOneAndUpdate(query, command, { new: true }, (err, updatedObject) => {
            if (err) {
                return (res.status(500).send({
                    status: "error",
                    error: err.message
                }));
            }

            if (!updatedObject) {

                return (res.status(404).send({
                    status: "error",
                    message: "No se encontró el registro a modificar"
                }));
            }

            return (res.status(200).send({
                status: "ok",
                updated: updatedObject
            }));

        });

    },

    /**
     * @openapi
     * /api/<%= modelName %>/{id}:
     *   delete:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Delete <%= ModelDescription %> by id<%=AuthOpenApi()%>
     *     parameters:
     *       - in: path
     *         name: id
     *         description: "Object Id"
     *         type: string
     *         required: true
     *     responses:
     *       200:
     *         description: OK
     *         content:
     *           application/json:
     *             schema:
     *               $ref: "#/components/schemas/<%= ModelName %>"
     *       400:
     *         description: Bad Request
     *       404:
     *         description: Not Found
     *       500:
     *         description: Internal Server Error
     */
    delete<%= ModelName %>: (req, res) => {


        var id = req.params.id;
        if (!id || id == undefined) {
            return (res.status(400).send({
                status: "error",
                message: "falta parámetro requerido ID"
            }));
        }

        var query = { '_id': { $eq: id } };

        <%= modelName %>.findOneAndDelete(query, { new: false }, (err, deletedObject) => {
            if (err) {
                return (res.status(500).send({
                    status: "error",
                    error: err.message
                }));
            }

            if (!deletedObject) {

                return (res.status(404).send({
                    status: "error",
                    message: "No se encontró el registro a eliminar"
                }));
            }

            return (res.status(200).send({
                status: "ok",
                deleted: deletedObject
            }));

        });
    },
    
<% if(IncludePictureSetterGetter) { %>

    /**
     * @openapi
     * /api/<%= modelName %>/<%= PictureFieldName %>/{id}:
     *   put:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Upload <%= ModelDescription %> <%= PictureFieldName %><%=AuthOpenApi()%>
     *     parameters:
     *       - in: path
     *         name: id
     *         description: "Object Id"
     *         type: string
     *         required: true
     *       - in: form-data
     *         name: <%= PictureFieldName %>
     *         required: true
     *         content:
     *           file:
     *             schema:
     *               type: string
     *               format: base64
     *     responses:
     *       200:
     *         description: Ok
     *         content:
     *           application/json:
     *             schema:
     *               $ref: "#/components/schemas/<%= ModelName %>"
     *       400:
     *         description: Bad Request
     *       404:
     *         description: Not Found
     *       500:
     *         description: Internal Server Error
     */
    setPicture: (req, res) => {

        //description: 'Archivo grafico: PNG JPEG GIF' ,

        //recojer fichero de petición
        var file_name = 'Imagen no proporcionada...';
        var id = req.params.id;

        // console.log(req.files);

        if (!req.files.picture) {
            return res.status(400).send({
                status: 'error',
                message: 'No hay parametro: logo',
                file_name
            });
        }
        if (!id) {

            return res.status(400).send({
                status: 'error',
                message: 'No hay parámetro: Id'
            });
        }

        //conseguir nombre y extensión del archivo
        var file_path = req.files.picture.path;

        var file_name = path.basename(file_path);

        var file_ext = path.extname(file_name);


        console.log(file_ext);

        switch (file_ext) {
            case '.png':
            case '.jpg':
            case '.jpeg':
            case '.gif':
                //Archivo aceptable


                var query = { '_id': { $eq: id } };
                var command = { $set: { '<%= PictureFieldName %>': file_name } };


                <%= modelName %>Model.findOneAndUpdate(query, command, { new: true }, (err, updatedObject) => {

                    if (err) {

                        fs.unlinkSync(file_path);

                        return res.status(500).send({
                            status: 'error',
                            error: err
                        });
                    }

                    if (!updatedObject) {

                        fs.unlinkSync(file_path);

                        return res.status(404).send({
                            status: 'error',
                            message: 'No se pudo encontrar el registro'
                        });
                    }

                    return res.status(200).send({
                        status: 'ok',
                        updated: updatedObject
                    });
                });
                break;

            default:
                //Archivo no aceptado

                //Borrar el archivo

                fs.unlinkSync(file_path);

                return res.status(400).send({
                    status: 'error',
                    message: 'Tipo de archivo no es imagen',
                    file_name
                }
                );
                break;
        };
    },


    /**
     * @openapi
     * /api/<%= modelName %>/<%= PictureFieldName %>/{filename}:
     *   get:
     *     tags: 
     *       - <%= ModelName %>
     *     description: Get <%= ModelDescription %> <%= PictureFieldName %> by filename
     *     parameters:
     *       - in: path
     *         name: filename
     *         description: Image filename
     *         required: true
     *         schema:
     *           type: string
     *     responses:
     *       200:
     *         description: OK
     *         content:
     *           image/png:
     *             type: image
     *       400:
     *         description: Bad Request
     *       404:
     *         description: Not Found
     *       500:
     *         description: Internal Server Error
     */
    getPicture: (req, res) => {


       var file = req.params.filename;
       if (validator.isEmpty(file)) {
           return (res.status(400).send({
               status: "error",
               message: "falta el nombre del archivo"
           }));
       }

       var path_file = '<%= UploadPath %>' + file;

       fs.stat(path_file, (err) => {

           if (err) {

               return res.status(404).send({
                   status: 'error',
                   message: 'archivo no encontrado',
                   path: path_file
               });
           }

           return res.status(200).sendFile(path.resolve(path_file));

       });


    }
<% } %>

}

module.exports = <%= modelName %>Controller;